@model IEnumerable<Company>

<div class="container">
    <span>
        <a href="@Url.ActionLink("AddCompany", "Home")">
            Добавить компанию
        </a>
    </span>
</div>

<div class="container">
    <table>
        <colgroup>
            <col/>
            <col/>
            <col/>
            <col/>
        </colgroup>
        <thead>
            <tr>
                <td>Идентификатор</td>
                <td>Наименование</td>
                <td>Размер компании</td>
                <td>Организационно-правовая форма</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var company in Model)
            {
                <tr>
                    <td>@company.Id</td>
                    <td>@company.Name</td>
                    <td>@company.Size</td>
                    <td>@company.TypeName</td>
                    <td>
                        <a href="@Url.ActionLink(
                            action: "UpdateCompany",
                            controller: "Home",
                            values: new { id = company.Id }
                        )">
                            Изменить
                        </a>
                    </td>
                    <td>
                        <a href="@Url.ActionLink(
                            action: "DeleteCompany",
                            controller: "Home",
                            values: new { id = company.Id }
                        )">
                            Удалить
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
