@model IEnumerable<Employee>

<div class="container">
    <span>
        <a href="@Url.ActionLink("AddEmployee", "Home")">
            Добавить сотрудника
        </a>
    </span>
</div>

<div class="container">
    <table class="table table-sm">
        <colgroup>
        <col/>
        <col/>
        <col/>
        <col/>
        <col/>
        <col/>
        <col/>
        <col/>
        <col/>
        </colgroup>
        <thead>
            <tr>
                <td>Идентификатор</td>
                <td>Фамилия</td>
                <td>Имя</td>
                <td>Отчество</td>
                <td>Дата приёма на работу</td>
                <td>Должность</td>
                <td>Компания</td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.Id</td>
                    <td>@employee.Surname</td>
                    <td>@employee.Name</td>
                    <td>@employee.Patronymic</td>
                    <td>@employee.EmploymentDate</td>
                    <td>@employee.PositionName</td>
                    <td>@employee.CompanyName</td>
                    <td>
                        <a href="@Url.ActionLink(
                            action: "UpdateEmployee",
                            controller: "Home",
                            values:new { id = employee.Id }
                        )">
                            Изменить
                        </a>
                    </td>
                    <td>
                        <a href="@Url.ActionLink(
                            action: "DeleteEmployee",
                            controller: "Home",
                            values:new { id = employee.Id }
                        )">
                            Удалить
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

